python-multipart
pyctcdecode
onnxruntime
g2p_en
fastapi
uvicorn
pyngrok
python_speech_features
scipy
transformers
tk
Pillow
requests
scipy
sounddevice
jiwer
librosa
https://github.com/kpu/kenlm/archive/master.zip